# function

# function dtore code, and it executes the code when called

In [9]:
#define a function 

def greeting():
    print("hello everyone nice to meet you")
    #print(2+2)
greeting()

hello everyone nice to meet you

In [7]:
#call a function
greeting()

hello everyone nice to meet you

# types of fuction

In [10]:
#built in function
print("hi")
len("shubham")

hi

7

In [11]:
min([3,4,5,56,7,8])
max([2,4,5,677,64])

677

# user defined function

In [12]:
def greeting():
    print("hello everyone my name is vaibhav")
    print(8/0)
    print("hi")

In [15]:
greeting()

hello everyone my name is vaibhav

ZeroDivisionError: division by zero

# user defined functions

In [16]:
# simple function 

def greeting():
    print("hello everyone nice to meet you")

In [17]:
greeting()

hello everyone nice to meet you

In [28]:
# input function

def greeting(name):
    print(f"hello {name}  nice to meet you")

In [29]:
greeting("vaibhav")

hello vaibhav  nice to meet you

In [31]:
def area_of_circle(r):
    print((22/7)*r*r)

area_of_circle(5)

In [34]:
def area_of_rectangle(lenght, width):
    print(lenght*width)

In [35]:
area_of_rectangle(5,10)

50

# scope

In [47]:
def myprofile():
    #loacl scope
    name = "vaibhav"
    age = "19"
    education = "b.tech"
    print(name, age, education)

In [55]:
# global scope
job = "netmax"
def myprofile():
    #loacl scope
    name = "vaibhav"
    age = "19"
    education = "b.tech"
    job = "hunting"
    print(name, age, education, job)

In [56]:
myprofile()

vaibhav 19 b.tech hunting

In [57]:
name

NameError: name 'name' is not defined

In [58]:
# global scope
job = "netmax"
def myprofile():
    #loacl scope
    name = "vaibhav"
    global age
    age = "19"
    education = "b.tech"
    job = "hunting"
    print(name, age, education, job)

In [59]:
myprofile()

vaibhav 19 b.tech hunting

In [60]:
age

'19'

In [62]:
greeting()

TypeError: greeting() missing 1 required positional argument: 'name'

In [61]:
greeting("name")

hello name  nice to meet you

In [66]:
# default fuction 
def greeting(name = "user"):
    print(f"hello {name}, nice to meet you")

In [67]:
greeting()

hello user, nice to meet you

In [75]:
#return function
def salary_structure(salary, tax_rate):
    tax=salary* tax_rate
    return tax

In [88]:
tax = salary_structure(25000, 0.9)

In [89]:
tax

22500.0

In [95]:
def volume_of_cuboid(lenght, width, hight):
    """
    # this function calculates volume of cubiod it takes lenght, width, hight, as input and multiplies them
    """
    
    dimension = f"""
    lenght: {lenght}
    width: {width}
    hight: {hight}
    """
    print(dimension)
    return lenght*width*hight

In [96]:
volume_of_cuboid(90, 20, 100)

    lenght: 90
    width: 20
    hight: 100

180000

In [99]:
volume_of_cuboid(lenght = 50, hight= 100, width = 80)

    lenght: 50
    width: 80
    hight: 100

400000

In [102]:
li = [2,3,4,5,6,787,5,4,3,6,8,6,3,5,8,2,7,9,5]

In [107]:
def sorthalf(li : list):
    lenght= len(li)
    li.sort()
    firsthalf = li[:lenght//2]
    secondhalf = li[lenght//2:]
    secondhalf.sort(reverse=True)

    return firsthalf + secondhalf

In [108]:
sorthalf(li)

[2, 2, 3, 3, 3, 4, 4, 5, 5, 787, 9, 8, 8, 7, 6, 6, 6, 5, 5]

In [ ]:
try:
    print("hi")
    print(int('vaibhav'))
    print('hello')

except ZeroDivisionError:
    print('ZeroDivisionError aya h')
except:
    print('error h')
else:
    print('else work kr rha h')
finally:
    print('finally run hua')